Handling Imbalance Dataset

1. Up sampling
2. Down Sampling

In [1]:
import numpy as np

In [2]:
import pandas as pd

In [4]:
np.random.seed(123)

In [5]:
n_sample = 1000

In [6]:
class_0_ratio = 0.9

In [38]:
n_class_0 = int(n_sample * class_0_ratio)
n_class_0

900

In [10]:
n_class_1 = n_sample - n_class_0

In [12]:
n_class_0,n_class_1

(900, 100)

In [13]:
# create Data set with Imbalance Dataset

In [27]:
class_0 = pd.DataFrame({'feature1': np.random.normal(0, 1, n_class_0),'feature2': np.random.normal(0, 1, n_class_0), 'target':[0] * n_class_0})

In [28]:
class_0.shape

(900, 3)

In [29]:
class_0.head()

   feature1  feature2  target
0  0.370481 -1.018751       0
1  0.280004 -0.610749       0
2 -1.072627 -0.569931       0
3 -0.383345  1.150658       0
4  0.006061  1.694467       0

In [24]:
class_1= pd.DataFrame({'feature1': np.random.normal(2, 1, n_class_1),'feature2': np.random.normal(2, 1, n_class_1), 'target':[1] * n_class_1})

In [25]:
class_1.shape

(100, 3)

In [30]:
class_1.head()

   feature1  feature2  target
0  0.225776  1.411440       1
1  0.798623  1.950911       1
2  3.096257  1.658300       1
3  2.861037  2.504139       1
4  0.479633  3.567392       1

In [32]:
df=pd.concat([class_0, class_1]).reset_index(drop=True)

In [33]:
df.shape

(1000, 3)

In [34]:
df.head()

   feature1  feature2  target
0  0.370481 -1.018751       0
1  0.280004 -0.610749       0
2 -1.072627 -0.569931       0
3 -0.383345  1.150658       0
4  0.006061  1.694467       0

In [35]:
df.tail()

     feature1  feature2  target
995  3.754312  2.519677       1
996  1.282109  0.423376       1
997  1.176808  2.398328       1
998  3.535918  1.888590       1
999  3.307740  2.060793       1

In [36]:
df.target.value_counts()

target
0    900
1    100
Name: count, dtype: int64

## upsampling

In [45]:
df_majority = df[df['target']==0]
df_minority = df[df['target'] == 1]

In [48]:
from sklearn.utils import resample

In [50]:
df_minority_upsampled = resample(df_minority, replace=True, n_samples = len(df_majority), random_state=42)

In [51]:
df_minority_upsampled.shape

(900, 3)

In [52]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.012428  2.412112       1
992  3.678069  2.059386       1
914  1.890879  2.698921       1
971  2.961969  1.074533       1
960  3.529014  0.676564       1

In [58]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [59]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

# Down Sampling

In [60]:
df_majority = df[df['target']==0]
df_minority = df[df['target'] == 1]

In [66]:
df_majority_downsampled = resample(df_majority, n_samples=len(df_minority), random_state=42)
df_majority_downsampled.shape

(100, 3)

In [67]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [69]:
df_downsampled['target'].value_counts()

target
1    100
0    100
Name: count, dtype: int64